<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <!-- Internet permission for future multiplayer -->
    <uses-permission android:name="android.permission.INTERNET" />

    <!-- OpenGL ES 3.0 for 3D rendering -->
    <uses-feature
        android:glEsVersion="0x00030000"
        android:required="true" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.XOYZ">

        <activity
            android:name=".ui.MainActivity"
            android:exported="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

         <!-- Local two-player game screen -->
        <activity
            android:name=".ui.LocalGameActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
            

    </application>

</manifest>
